In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv(r"Data\train\train.csv")
df

,label,category,utterance1,utterance2
0,0,watch_tv_1,"{'user': 'Alien', 'text': 'How are you doing t...","{'user': 'Human', 'text': 'I am good, thank yo..."
1,0,watch_tv_1,"{'user': 'Human', 'text': 'I am good, thank yo...","{'user': 'Alien', 'text': 'Do you know TV? Wha..."
2,0,watch_tv_1,"{'user': 'Alien', 'text': 'Do you know TV? Wha...","{'user': 'Human', 'text': 'The TV is a big scr..."
3,0,watch_tv_1,"{'user': 'Human', 'text': 'The TV is a big scr...","{'user': 'Alien', 'text': 'May I watch the TV?..."
4,0,watch_tv_1,"{'user': 'Alien', 'text': 'May I watch the TV?...","{'user': 'Human', 'text': 'Sure, and can you h..."
...,...,...,...,...
5095,0,read_book_0,"{'user': 'Human', 'text': 'Sure Zara that seem...","{'user': 'Alien', 'text': 'Okay I will put thi..."
5096,1,read_book_0,"{'user': 'Alien', 'text': 'Okay I will put thi...","{'user': 'Human', 'text': 'Make sure you put t..."
5097,0,read_book_0,"{'user': 'Human', 'text': 'Make sure you put t...","{'user': 'Alien', 'text': 'You are right Micha..."
5098,1,read_book_0,"{'user': 'Alien', 'text': 'You are right Micha...","{'user': 'Human', 'text': 'Now that you know h..."
5099,0,read_book_0,"{'user': 'Human', 'text': 'Now that you know h...","{'user': 'Alien', 'text': ""That sounds like a ..."

In [5]:
df.sum()

label                                                      1483
category      watch_tv_1watch_tv_1watch_tv_1watch_tv_1watch_...
utterance1    {'user': 'Alien', 'text': 'How are you doing t...
utterance2    {'user': 'Human', 'text': 'I am good, thank yo...
dtype: object

In [6]:
5100-1483

3617

In [7]:
#Flip
flip=df[df['label']==1]
cols=list(df.columns)
cols[2], cols[3] = cols[3], cols[2]
cols
flip=flip[cols]
flip

,label,category,utterance2,utterance1
10,1,watch_tv_1,"{'user': 'Human', 'text': 'Now you have found ...","{'user': 'Alien', 'text': ""Got it. Let's go"", ..."
14,1,watch_tv_1,"{'user': 'Human', 'text': 'Are you lost? ', 'i...","{'user': 'Alien', 'text': 'Got it.', 'intent':..."
18,1,watch_tv_1,"{'user': 'Alien', 'text': 'I opened the TV', '...","{'user': 'Alien', 'text': 'I see', 'intent': '..."
33,1,watch_tv_2,"{'user': 'Alien', 'text': 'I have reached livi...","{'user': 'Alien', 'text': ""Let's go! I am exci..."
34,1,watch_tv_2,"{'user': 'Alien', 'text': 'I have reached livi...","{'user': 'Alien', 'text': ""Let's go! I am exci..."
...,...,...,...,...
5086,1,read_book_0,"{'user': 'Alien', 'text': 'Wow I really liked ...","{'user': 'Alien', 'text': 'Okay I understand, ..."
5090,1,read_book_0,"{'user': 'Alien', 'text': 'What Should I do no...","{'user': 'Alien', 'text': 'Wow that book was a..."
5093,1,read_book_0,"{'user': 'Alien', 'text': 'Is it okay if I put...","{'user': 'Alien', 'text': 'Oh I understand I w..."
5096,1,read_book_0,"{'user': 'Human', 'text': 'Make sure you put t...","{'user': 'Alien', 'text': 'Okay I will put thi..."
5098,1,read_book_0,"{'user': 'Human', 'text': 'Now that you know h...","{'user': 'Alien', 'text': 'You are right Micha..."

In [8]:
flip.to_csv("augmented_data/simply_flipped.csv, index=False")

In [16]:
x=df.to_numpy()

0

In [17]:
t=0
for i in range(5100):
    if(x[i][0]==1):
        t=t+1
    x[i][0]=t

In [39]:
L2=[]
L2.append(np.array([1, x[1][1], x[2][2], x[3][3]]))
L2
# x[0]

[array(['1', 'watch_tv_1',
        "{'user': 'Alien', 'text': 'Do you know TV? What is this?', 'intent': 'Ask_about_object'}",
        "{'user': 'Alien', 'text': 'May I watch the TV?', 'intent': 'Ask_guidence'}"],
       dtype='<U88')]

In [40]:
# x[0][2]
# x[0][3]
# x[115][0]
L=[]
for i in range(5100):
    for j in range(5100):
        if(x[i][0]!=x[j][0]):
            L.append(np.array([1, x[i][1], x[i][2], x[j][3]]))